<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="false">
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/suites/unit</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="build/coverage" title="Dvorak-Platform" charset="UTF-8" yui="true" highlight="true"
			lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-clover" target="build/logs/clover.xml" />
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>
	
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">libraries/dvorak</directory>
			<directory suffix=".php">libraries/joomla</directory>
			<file>libraries/import.php</file>
		</whitelist>
	</filter>
</phpunit>
